#footer.mt-30.pt-20
  .container.row.center-block
    .thank-block.first.col-md-6
      h4 感谢:
      span
        a(href="https://nodejs.org/") Nodejs
      span
        a(href="http://getbootstrap.com/") Bootstrap
      span
        a(href="http://glyphicons.com/", target='_blank') Glyphicons Halflings
    .thank-block.second.col-md-6
      h4 热门站点:
      span
        a(href="https://www.baidu.com/") Baidu
      span
        a(href="https://www.google.com/") Google
      span
        a(href="https://www.bing.com/") Bing
  .text-center
    .foot
      block foot
        footer Copyright &copy; 2016-2017 gin_lsl@outlook.com
