*, *:after, *:before {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  font: 14px "Consolas", '微软雅黑', Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.container {
  flex-grow: 1;
  /*width: 70%;
  margin: 0 auto;*/
}

div.foot {
  margin: 25px auto;
}

footer {
  font-size: 0.9em;
}

.mt-5 {
  margin-top: 5px!important;
}

.mt-30 {
  margin-top: 30px!important;
}

.ml-0 {
  margin-left: 0px!important;
}

.ml-15 {
  margin-left: 15px!important;
}

.ml-60 {
  margin-left: 60px!important;
}

.mb-10 {
  margin-bottom: 10px!important;
}

.mv-20 {
  margin-top: 20px!important;
  margin-bottom: 20px!important;
}

.m-0 {
  margin: 0px!important;
}

.m-5 {
  margin: 5px!important;
}

.pt-20 {
  padding-top: 20px!important;
}

.pt-40 {
  padding-top: 40px!important;
}

.pr-20 {
  padding-right: 20px!important;
}

.pl-45 {
  padding-left: 45px!important;
}

.pl-60 {
  padding-left: 60px!important;
}

.pv-15 {
  padding-top: 15px!important;
  padding-bottom: 15px!important;
}

.p-20 {
  padding: 20px!important;
}

.p-10 {
  padding: 10px!important;
}

.w100 {
  width: 100%;
}

.modal-dialog {
  border-radius: 6px;
  overflow: hidden;
}

.login-box {
  /*left: 58%;*/
}

.log-in-on-v-line {
  position: absolute;
  left: 50%;
  border-left: 1px solid #CCCCCC;
  height: 90%;
}

.logon-box {
  /*right: 25%;*/
}

@media all and (min-width:992px) {
  .modal-lg {
    width: 900px;
  }
}

.modal-header {
  background-color: #EEEEEE;
}

.error {
  display: inline-block;
  color: red;
}

.avatar-32 {
  width: 32px;
  height: 32px;
}

.avatar-45 {
  width: 45px;
  height: 45px;
}

.container.row.center-block {
  height: 100px;
}

.thank-block {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
}

#footer {
  border-top: 1px solid #E8E8E8;
}

ul {
  list-style: none;
}

.some-hint {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.hint-lightgrey {
  color: lightgrey;
}

.hover-font-size-bigger:hover {
  font-size: 1.1em;
}

#preview-cover {
  width: 200px;
  height: 150px;
  border: 3px solid lightgrey;
}

#category-list {
  position: absolute;
  z-index: 10;
  background-color: white;
  padding: 10px 0;
}

#category-list li {
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
}

#category-list li:hover {
  background-color: #E6E6E6;
}

/* 404 page */
main.bad-page {
  display: flex;
  justify-content: center;
}

main.bad-page img {
  --t-width: 85vw;
  width: 85vw;
  max-width: 465px;
  height: calc(var(--t-width * 1.1));
  max-height: 512px;
}

div.bad-page {
  font-family: '微软雅黑', serif;
  text-align: center;
}

.big-text {
  white-space: nowrap;
  font-size: 7vw;
}
